<!DOCTYPE html>

<html>
<link rel="icon" href="https://innovative-hackers.org/favicon.ico" type="image/x-icon">
{% include head.html %}
<style>
.navbar-brand {
  font-size: 1rem;
  font-weight: 400;
  xfont-family: monospace;
}
body {
    font-family: monospace, Helvetica, Arial ;
}
header.masthead {
  background-color: #ecb807!important;
  background-image: none;
}
</style>
<body>

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

</body>

</html>
