<!DOCTYPE html>

<html>
<link rel="icon" href="https://innovative-hackers.org/favicon.ico" type="image/x-icon">
{% include head.html %}
<style>
.navbar-brand {
  font-size: 1rem;
  font-weight: 300;
}
body {
    font-family: monospace, Helvetica, Arial ;
}
header.masthead {
  background-color: #ecb807!important;
  background-image: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: monospace, Helvetica, Arial ;
}
.post-preview>.post-meta {
    font-style: none;
}
header.masthead .page-heading .subheading, header.masthead .site-heading .subheading {
    font-family: monospace, Helvetica, Arial ;
}
</style>
<body>

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

</body>

</html>
